/* LAYOUT */
html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: rgb(133, 133, 133);
}

h1 {
    color: rgb(49, 49, 49);
    text-decoration: underline;
    margin: 20px;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

.menu li a {
    color: #fff;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 0.5em 1em;
}

.contenido {
    margin: auto;
    max-width: 1080px;
}

/* HOME - no me funciona */

/* .home {
    background-image: url("../img/home.png");
    object-fit: center;
    background-size: cover;
} */

.grid-home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
}

.grid-home p {
    padding: 1em;
    border: 1px solid grey;
}

span{
    font-weight: bold;
}

/* ABOUT */

.icons{
display: flex;
}

.bi{
    margin-right: 20px;
    font-size: xx-large;
}

/* CONTACTO */

.form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: #ffffff;
    border: 10px solid #f2f2f2;
}

.form-group {
    margin: 10px;
}

input, textarea {
    width: 100%;
    margin: auto;
}

/* BLOG */

.blog{
    column-count: 2;
}

/* FOOTER */

h5{text-align: center;}

@media screen and (min-width: 520px) {
    .menu {
        display: flex;
        color: red;
    }
}
